#slider {
  min-height: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .slider__content {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  .slider__wellcome {
    // margin: 200px 0;
    .slider__heading,
    .slider__text {
      color: $white;
    }
    .slider__heading {
      font-size: 72px;
    }
    .slider__text {
      margin-bottom: 50px;
    }
  }
  .slider__group--btn {
    .poca-btn {
      margin-right: 30px;
    }
  }
  .slider__player {
    width: 100%;
    height: auto;
    background: $white;
  }
}
