.slider__item {
  min-height: 1024px;
  display: none;
  justify-content: space-between;
  align-items: center;
  &.active {
    display: flex;
  }
  .slider__content {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    @media #{$breakpoint-mobile} {
      gap: 5rem;
    }
  }
  .slider__wellcome {
    // margin: 200px 0;
    .slider__heading,
    .slider__text {
      color: $white;
    }
    .slider__heading {
      font-size: 72px;
      @media #{$breakpoint-mobile} {
        font-size: 40px;
      }
    }
    .slider__text {
      margin-bottom: 50px;
    }
  }
  .slider__group--btn {
    .poca-btn {
      margin-right: 30px;
      @media #{$breakpoint-mobile} {
        margin-bottom: 20px;
      }
    }
  }
  .slider__player {
    width: 100%;
    height: auto;
    background: $white;
  }
}
