#admin__login {
  .login__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    .login__main {
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      .login__content {
        margin: 0 auto;
        max-width: 350px;
        .login__header {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 7px;
        }
        .login__subtittle {
          font-size: 14px;
          color: $text;
          margin-bottom: 20px;
        }
        .login__form {
          .title {
            margin-top: 20px;
            font-size: 20px;
          }
          .value {
            //   box-sizing: border;
            font-size: 16px;
            background-color: #eee;
            border: none;
            height: 30px;
            padding: 10px 20px;
            width: 90%;
            margin: 13px auto;
            border-radius: 0px;
          }
          .form_checkRemember {
            #login_checkRemember:checked ~ .title {
              .checkbox-mark {
                background-color: $primary !important;
                &::before {
                  display: block !important;
                }
              }
            }
            .title {
              display: flex;
              align-items: center;
              gap: 5px;
              font-weight: 500;
              color: $text;
              font-size: 16px;
              margin-top: 10px !important;
              .checkbox-mark {
                display: inline-flex;
                align-items: center;
                width: 20px;
                height: 20px;
                border-radius: 2px;
                margin-left: 0;
                background-color: #d3d6db;
                &::before {
                  display: none;
                  margin: 0 auto;
                }
              }
            }
          }
        }
        .btn-submit {
          background: $primary_linear;
          border-radius: 10px;
          border: none;
          display: block;
          margin: 20px auto;
          width: 80%;
        }
      }
    }
    .login__bg-img {
      flex: 1;
      height: 100%;
      float: right;
    }
  }
}
