section#header
    .header-mobile
        .mobile-toggle.menu-on 
            i.far.fa-times
        .header__logo
            a(href="index.html" class="header-brand")
                img(src="./img/core-img/logo.png", alt="")
        .menu-nav 
            ul.header__nav-moblie
                li
                    a.current(href="#") Home 
                li
                    a(href="#") Nhạc Việt Nam 
                li
                    a(href="#") Nhạc Quốc Tế 
                li
                    a(href="#") Lofi 
                li
                    a(href="#") Contact 
            .header__search 
                form(action="" method="post")
                    input(type="text" name="header-search" placeholder="Search and hit enter...")
                    button(type="submit" class="btn") 
                        i.fa.fa-search 
            ul.header__social 
                li
                    a(href="#" class="fab fa-facebook") 
                li
                    a(href="#" class="fab fa-twitter") 
                li
                    a(href="#" class="fab fa-pinterest") 
                li
                    a(href="#" class="fab fa-instagram") 
                li
                    a(href="#" class="fab fa-youtube")

    .header__container.container-fluid
        .header__content 
            .header__logo
                a(href="index.html" class="header-brand")
                    img(src="./img/core-img/logo.png", alt="")
            .header__menu 
                ul.header__nav
                    li
                        a.current(href="#") Home 
                    li
                        a(href="#") Nhạc Việt Nam 
                    li
                        a(href="#") Nhạc Quốc Tế 
                    li
                        a(href="#") Lofi 
                    li
                        a(href="#") Contact 
                .header__search 
                    form(action="" method="post")
                        input(type="text" name="header-search" placeholder="Search and hit enter...")
                        button(type="submit" class="btn") 
                            i.fa.fa-search 
                ul.header__social 
                    li
                        a(href="#" class="fab fa-facebook") 
                    li
                        a(href="#" class="fab fa-twitter") 
                    li
                        a(href="#" class="fab fa-pinterest") 
                    li
                        a(href="#" class="fab fa-instagram") 
                    li
                        a(href="#" class="fab fa-youtube")
            .mobile-toggle
                i.far.fa-bars
                //- i.far.fa-times    
        .header__background
