section#main    
    .main__bg.bg-overlay.bg-img(style="background-image: url('./img/bg-gif/gif-22.gif');")
        .main__settingBg 
            .settingBg__icon 
                i.fas.fa-sliders-h
            .settingBg__container
                .settingBg__content
                    h2.settingBg__heading Setup BackGround
                    .settingBg__list-item
                        .bg-item.bg-img(style="background-image: url('./img/bg-gif/gif-21.gif');")
                        .bg-item.bg-img(style="background-image: url('./img/bg-gif/gif-22.gif');")
                        .bg-item.bg-img(style="background-image: url('./img/bg-gif/gif-23.gif');")
                        .bg-item.bg-img(style="background-image: url('./img/bg-gif/gif-24.gif');")
                        .bg-item.bg-img(style="background-image: url('./img/bg-gif/gif-25.gif');")
        .main__player
            .player__song
                .song-img.bg-img(style="background-image: url('./img/song-img/us-uk/song-13.jpg');")
                .song-info
                    .song-name Yummy
                    .song-author Justin Bieber
            .player__control
                .control
                    .repeat
                        i.fas.fa-repeat
                    .prev 
                        i.fas.fa-fast-backward
                    .play
                        i.fas.fa-play-circle
                    .pause.active
                        i.fas.fa-pause-circle
                    .next 
                        i.fas.fa-fast-forward
                    .random
                        i.fas.fa-random
                .duration 
                    .currenTime 00:00
                    .sidebarTime--bg
                        .sidebarTime--current
                    .duration 03:50
            .player__option
                .volume
                    .volume__icon
                        i.mute.fas.fa-volume-slash
                        i.volume--low.fas.fa-volume.active
                        i.volume--hight.fas.fa-volume-up
                    .volume__silebar--bg
                        .volume__silebar--current
                .option
                    .like
                        i.far.fa-heart
                        i.fas.fa-heart
                    .download
                        i.fas.fa-download
        .main__playlist
            .playlist__icon 
                .open.active
                    i.fad.fa-angle-double-left
                .close
                    i.fad.fa-angle-double-right
            .playlist__content
                .playlist_grouptab
                    span.watting_list__name.active Danh sách phát
                    span.love_list__name Danh sách Playlist
                .watting_list.tab__container-list.active
                    .play-list
                .love_list.tab__container-list
                    .login.active
                        .login__heading Đăng nhập để khám phá những playlist dành riêng cho chính bạn.
                        .login__content.active
                            img(src="./img/core-img/google_logo.png", alt="")
                            span Đăng nhập
                    .play-list
                       
                


                        





                
            

