mixin song_item(src, song_name, song_author, duration)
    .song-item.active
        .song-content
            .song-img
                img(src=src, alt="")
            .song-info 
                h2.song-name= song_name
                .song-author= song_author
        .song-duration duration
        .player__content
            .player__control 
                .play 
                    i.fas.fa-play
                span.currenTime 00:00
                .sidebarTime 
                span.duration= duration
        .song-option 
            .addList 
                i.fas.fa-plus
            .like 
                i.far.fa-heart

+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '30:56')
+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '02:56')
+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '02:56')
+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '02:56')
+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '02:56')
+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '02:56')
+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '02:56')
+song_item(src="./img/bg-img/4.jpg", 'The Last Blockbuster', 'Admin', '02:56')