section#recommend
    .container
        h1 Lựa chọn của Poca
        .line 
        .group-tab 
            .vpop-tab
                .tab__heading 
                    h1 Bài Hát
                    .btn-group 
                        .btn-addList Thêm hết vào PlayList 
                        .btn-playAll Phát tất cả
                .tab__content
                    .tab__slider 
                    .tab__list-song 
                        .song-content
                            .song-img
                                img(src="./img/bg-img/4.jpg", alt="")
                            .song-info 
                                .song-name The Last Blockbuster
                                .song-author Admin
                        .duration 02:56
                        .song-option 
                            .addList 
                                i.fas.fa-plus
                            .like 
                                i.far.fa-heart
            .edm-tab
            .lofi-tab 
