section#slider.bg-overlay.bg-img(style="background-image: url('img/bg-img/1.jpg');")
    .container.slider__content 
        .slider__wellcome 
            h1.slider__heading Listen Now
            p.slider__text Please schedule a podcast post, to make it visible here 
            .slider__group--btn
                .poca-btn.filter Subscribe with iTunes
                .poca-btn.btn-2.filter Subscribe with RSS
        .slider__player.player.song-item
            .player__img.bg-img(style=`background-image: url('img/bg-img/4.jpg');`)
                .song-img--hover
            .player__content
                .player__info
                    p.player__date December 7, 2018
                    h1.player__name.song-name Episode 201 - The Last Blockbuster
                    p.player__text
                        span.player__author Admin | 
                        span.player__category Tutorials | 
                        span.player_duration 00:02:56
                .player__control
                    .play
                        i.fas.fa-play-circle
                    .pause.active
                        i.fas.fa-pause-circle
                    span.currenTime 00:00
                    .sidebarTime--bg
                        .sidebarTime--current 
                        //- input.sidebarTime(type='range' min='1' max='100' value='50' step='1')
                    span.duration 02:56
                    .volume
                        .volume__icon 
                            i.mute.fas.fa-volume-slash
                            i.volume--low.fas.fa-volume.active
                            i.volume--hight.fas.fa-volume-up
                    .volume__silebar--bg
                        .volume__silebar--current
                .like-share-download
                    .like
                        i.fas.fa-heart 
                            span Like(29)
                    .div
                        .share 
                            i.fas.fa-share-alt 
                                span Share(04)
                        .download
                            i.fas.fa-download 
                                span Download(12)

        



                    

            